* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* for page scrolling */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

@viewport {
    user-zoom: fixed;
}

.scroll-point {
    scroll-snap-align: start;
}

body{
    background: #222222;
    color: #befaf7;
    font-family: monospace;
    font-size: 2vw;
    overflow-x: visible;
    -webkit-text-size-adjust: none; /* Prevent text from scaling on mobile */
    user-zoom: fixed; /* Prevent user from zooming in or out */
}

.banner-screen {
    height:100vh;
    width: 100vw;
    position: relative;
}

.titles {
    font-size: 10vw;
    font-weight: bolder;
    text-align: center;

    /* below code if for disabling text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}
.hello {
    
    width: 100%;
    text-shadow: 0.5vw 0.5vw 0.1vw red, -0.5vw -0.5vw 0.1vw blue;
    /* text-shadow: 10px 10px 1px red, -10px -10px 1px blue, -10px -10px 10px rgb(79, 79, 245), 10px 10px 10px rgb(248, 106, 106); */
}

.blink {
    animation: 1s linear infinite condemned_blink_effect;
}

  
@keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
}
input.caret-block > span {
    background-color: hsla(1, 1%, 100%, 1);
    color: #000;
}
.name-input {
    color: #befaf7;
    font-size: 10vw;
    text-shadow: 0.5vw 0.5vw 0.1vw red, -0.5vw -0.5vw 0.1vw blue;
    background-color: black; 
    border: none;
    text-align: center;
    caret-shape: underscore; 
    caret-color:red;
    width: 100%;
    visibility: hidden;
    opacity: 20%;
}
input.name-input:focus {
    outline: none;
}

div #intro {
    height: 100vh;
}
.svg-bg {
    /* background-image : url("./blurry-gradient-haikei.svg"); */
    background : linear-gradient(to top, #0C9 0%, #37B 40% ,#60F 100%);
    /* background: repeating-radial-gradient(#0C9 0%, #37B 40% ,#60F 100%); */
}

.images{
    display: flex;
    height: 80vh;
}

.card1 {
    background-color: rgba(68, 83, 133, 0.521);
    margin: 8vh 1.5vw 0vh 1vw;
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 3vh;
    opacity: 0.8;
    animation: glow 10s infinite;
}

@keyframes glow {
    50% {
        box-shadow: -10px -3px 50px 5px darkmagenta;
    }
}

.card2 {
    background-color: rgba(68, 83, 133, 0.521);
    margin: 15vh 0vw 0vh 0vw;
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 3vh;
    display: inline;
}

.gradient-text {
    font-family: 'Courier New', monospace ;
    background: linear-gradient(to left,#a27dcf 0%, #993888 50% ,#5c045c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#job-role {
    font-size: 3vw;
    
}

#designation {
    font-size: 1vw;
    margin-top: 2vh;
    float: right;
}

.circle {
    width:2vw;
    height:2vw;
    border-radius: 1vw;
    background-color: rgb(253, 166, 4);
    justify-content: space-between;
    z-index: 2;
}

.position1 {
    position: absolute;
    top: 50%;
    left: 1vw;
    z-index: 3;
}
.position2 {
    position: absolute;
    top: 50%;
    right : 1vw;
    z-index: 3;
}

/* 
 * skillset
 */

.zoomOutToCorner {
    animation: 2s ease-out forwards zoomOutToCorner;
}
@keyframes zoomOutToCorner {
    0% {
        font-size: 10vw;
        /* text-shadow: 0.5vw 0.5vw 0.1vw red, -0.5vw -0.5vw 0.1vw blue; */
    }
    100% {
        font-size: 3vw;
        /* text-shadow: 0.3vw 0.3vw 0.1vw red, -0.3vw -0.3vw 0.1vw blue; */
        margin-top: 2vh;
    }
}
.glassmorphism {
    background: rgba(41, 45, 102, 0.144);
    box-shadow: 0 8px 32px 0 rgba(12, 20, 136, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
}
/* 
 * footer
 */
footer {
    position: relative;
    margin-top: 5vh;
    margin-bottom: 17vh;
    max-width: 100%;
}

ul{
    padding: 0.2vh;
    color: dimgrey;
    display: inline-flex;
    width: 100%;
    position: absolute;
}

li, li a {
    list-style: none;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: dimgrey;
}

li a:hover {
    color: darkslategrey;
    text-decoration: none;
    box-shadow: 1vh 1vw 0.2vh red, -1vh -1vw 0.2vh blue;
}



/*--------------------------------------------------------*/
/*--------------------------------------------------------*/

#skills {
    display: inline-flex; 
    width: 50%;
    left: 25%; 
    position: relative;
}
#skills-spring{
    display: inline-flex; 
    width: 10%;
    left: 25%; 
    position: relative;
}
.cube1-face-front{
    position: relative;
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    margin: auto;
    border-radius: 30px;
}
.rotateRight {
    -webkit-animation-name: rotateRight;
    animation: 2s ease-in-out forwards;
    animation-name: rotateRight;
} 
@-webkit-keyframes rotateRight {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(800px) rotateY(0deg) translate3d(0px);
    }
    50% {
        opacity: 0.7;
        transform-origin: 50% 50%;
        transform: perspective(800px) rotateY(180deg) translate3d(50px);
        background-color: #222222;
    }
    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(-800px) rotateY(360deg) translateZ(0px);
        background-color: #222222;
    }
}
@keyframes rotateRight {
    0% {
      opacity: 1;
      transform-origin: 0 0;
      transform: perspective(800px) rotateY(0deg) translate3d(0px);
    }
    50% {
        opacity: 0.7;
        transform-origin: 50% 50%;
        transform: perspective(800px) rotateY(180deg) translateZ(50px);
        background-color: #222222;
    }
    100% {
      opacity: 1;
      transform-origin: 0 0;
      transform: perspective(-8000px) rotateY(360deg) translateZ(0px);
    }
}

.rotateLeft {
    -webkit-animation-name: rotateLeft;
    animation: 2s ease-in-out forwards;
    animation-name: rotateLeft;
} 
@-webkit-keyframes rotateLeft {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(800px) rotateY(0deg) translate3d(0px);
    }
    50% {
        opacity: 0.7;
        transform-origin: 50% 50%;
        transform: perspective(800px) rotateY(-180deg) translate3d(-50px);
        background-color: #222222;
    }
    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(-800px) rotateY(-360deg) translateZ(0px);
        background-color: #222222;
    }
}
@keyframes rotateLeft {
    0% {
      opacity: 1;
      transform-origin: 0 0;
      transform: perspective(800px) rotateY(0deg) translate3d(0px);
    }
    50% {
        opacity: 0.7;
        transform-origin: 50% 50%;
        transform: perspective(800px) rotateY(-180deg) translateZ(50px);
        background-color: #222222;
    }
    100% {
      opacity: 1;
      transform-origin: 0 0;
      transform: perspective(-8000px) rotateY(-360deg) translateZ(0px);
    }
}

.skill-icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
